h1, select, .tool-tip {
    text-align: center;
}

h1,
h2,
h3,
select,
fieldset,
.axis-label {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 0.9em;
}

select {
    font-size: 2em; /* same size as h1 */
}

#monthSelect {
    width: 10em;
    margin-bottom: 10px;
}

#varSelect {
    width: 4em;
    margin-right: 5px;
}

fieldset, .positioning {
    width: 14em;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.d3-tip {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.legendEntry > p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.legendBox {
    width: 1em;
    height: 1em;
}

.unfocused {
    opacity: 25%;
}